<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<html>
    <head>
        <title>rCat</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <link rel="stylesheet" type="text/css" href="../static/style.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
       <link rel="icon" href="../graphics/Logo_creta.png">
    </head>

    <nav>
        <ul>
          <li><a href="/">Start over</a></li>
        </ul>
    </nav>

    <body>
    
        <header>
            <img id="LogoCreta" src="../static/Logo_creta.png" alt="CRETA" width=170pt" height="70pt">
            <img id="LogoUni" src="../static/unistuttgart_logo_deutsch.jpg" width="300pt">
            <img src="../static/cat1.png" width="350pt" height="300pt">
        </header>
 
    <div><p>You can download the results by clicking download. To start over click Start over on the top left of the page</p></div>
        <!--<div>Your session id is: XXX<br>
            We store your data for 2 weeks under this id.
        </div>-->
    <div class="container", align="left">
    <!-- <a href="../rcat_app/relations.pdf" target="blank"> -->
        <a href="/return-file-zip/" target="blank">
        <button class="btn btn-default">Download</button>
    </a>

</div>
</form>
</body>
</html>
