<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<html>
    <head>
        <title>rCat</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
<h1>rcat</h1>
<div>done!</div>
<!--<div>Your session id is: XXX<br>
    We store your data for 2 weeks under this id.
</div>-->
    <div class="container", align="left">
    <!-- <a href="../rcat_app/relations.pdf" target="blank"> -->
        <a href="/return-file/" target="blank">
        <button class="btn btn-default">Get your file</button>
    </a>

</div>

</form>


</body>
</html>
