<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<html>
    <head>
        <title>rCat</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
<h1>rcat</h1>
<form id="upload", action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">


    <p><b>Select text file:</b></p>
    <input type="file" name="file"/>

    <p><b>Select character file:</b></p>
    <input type="file" name="file"/>



    <p><b>Specify relation distance</b></p>
    <input type="text" name="distance" value="10"/>

    <p><b>Specify words before</b></p>
    <input type="text" name="before" value="8"/>

    <p><b>Specify words after</b></p>
    <input type="text" name="after" value="8"/>

    <p><b>Remove stop words?</b></p>
    <input type="radio" name="stopwords" value="y" checked="checked">yes<br>
    <input type="radio" name="stopwords" value="n">no<br>

    <p><b>Lemmatisation</b></p>
    <input type="radio" name="lemmatisation" value="treetagger" checked="checked">yes (treetagger)<br>
    <input type="radio" name="lemmatisation" value="n">no<br>

    <p><b>Word clouds to show</b></p>
    <input type="text" name="word_clouds" value="5">


    <p><b>Text Language</b></p>
    <input type="radio" name="language" value="German" checked="checked">German<br>
    <!-- <input type="radio" name="language" value="English">English <br> -->
    <!-- <input type="radio" name="language" value="Middle High German">Middle High German<br> -->


   <p><b>Segments</b></p>
    <input type="text" name="segments" value="10">


    <p><b>Analyze with word fields</b></p>

    <input type="radio" name="word_fields" value="N" checked="checked">No<br>
    <input type="radio" name="word_fields" value="single">Single Category<br>
    <div style="text-indent:30px;">
        <i>Select single file:</i>
        <input type="file" name="file"/>
        <br>
    <input type="radio" name="word_fields" value="multi">Multi category<br>
    <div style="text-indent:30px;">
        <i>Select folder:</i>
        <input type="file" name="file" multiple/>
    </div>




    <!--<p><br>
    <font color="red">***parameters below are not working yet*** !!!</font>






    </div>




    <b>Download a csv file for Gephi?</b></p>
    <input type="radio" name="gephi_csv" value="y">yes<br>
    <input type="radio" name="gephi_csv" value="n">no<br>








    <br>
    <br>-->








    <br>
    <br>
    <input type="submit" value="send">

</form>


</body>
</html>
