<!--img#corner_pic {
position: absolute;
right: 0;
top: 0;
display: block;
width: 100px; /* entspricht der Grafikbreite */
height: 50px; /* entspricht der Grafikhöhe */
background: url(../graphics/Logo_creta.eps);
}

/*img#corner_pic span {
display: none;
}-->*/

body            { font-family: sans-serif; background: ##FFFFFF; }
h1, h2	        { color: #2C2D38;}
h1, h2          { font-family: serif; margin: 1px; }
h2              { font-size: 1.2em; }
*				{ font-family: 'Palatino' }
form			{ float: left; margin: 30px; }
img				{ display: block; margin: 0 auto; }
form 			{ position: relative; top: 50px; left: 300px; }


div {
  width: 400px;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: ##FFFFFF;
}

article {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

footer {
	font-family: Palatino;
	text-align: center;
}

#LogoCreta { float: right; padding: 5px; }
#LogoUni { float: left;  padding: 5px;}
#mainForm { padding: auto; }